<!-- success story -->
<section class="section bg-cover" data-background="assets/images/backgrounds/success-story.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-4 position-relative success-video">
          <a class="play-btn venobox" href="https://www.youtube.com/watch?v=b50JAp1YHnQ" data-vbtype="video">
            <i class="ti-control-play"></i>
          </a>
        </div>
        <div class="col-lg-6 col-sm-8">
          <div class="bg-white p-5">
            <h2 class="section-title">Success Stories</h2>
            <p>At Aman's Academy, we take immense pride in shaping the careers of aspiring professionals in the shipping and aviation industries. Our commitment to excellence in education, hands-on training, and industry-relevant skills has transformed countless dreams into reality. Here’s a glimpse into the success story of one of our outstanding students, showcasing the impact of our academy.</p>
            <section>
              <h3>Why Choose Aman's Academy ?</h3>
              <ul>
                  <li>Industry-aligned curriculum tailored for aviation and maritime careers.</li>
                  <li>Experienced trainers with real-world expertise.</li>
                  <li>Hands-on practical training and internship opportunities.</li>
                  <li>Strong placement support with tie-ups in the shipping and aviation sectors.</li>
                  <li>100% job assistance to ensure successful career placements.</li>
              </ul>
              <p>
                  At <strong>Aman's Academy</strong>, we don’t just educate; we empower. 
                  Whether it's working at international airports or leading shipping companies, 
                  our students continue to make us proud. If you dream of a rewarding career 
                  in these dynamic industries, join us today and let your success story begin!
              </p>
              <p><strong>Enroll now and take the first step towards a brighter future!</strong></p>
          </section>
         </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /success story -->