<div class="row justify-content-center">
  <!-- blog post 1 -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
      <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
          <img class="card-img-top rounded-0" src="assets/images/blog/post-1.jpg" alt="Post thumb">
          <div class="card-body">
              <ul class="list-inline mb-3">
                  <li class="list-inline-item mr-3 ml-0">January 15, 2025</li>
                  <li class="list-inline-item mr-3 ml-0">By Admin</li>
              </ul>
              <a href="blog-single.html">
                  <h4 class="card-title">How Aviation Training is Transforming Careers</h4>
              </a>
              <p class="card-text">Discover how specialized training programs are helping students secure top positions in the aviation industry.</p>
              <a href="blog-single.html" class="btn btn-primary btn-sm">Read More</a>
          </div>
      </div>
  </article>

  <!-- blog post 2 -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
      <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
          <img class="card-img-top rounded-0" src="assets/images/blog/post-2.jpg" alt="Post thumb">
          <div class="card-body">
              <ul class="list-inline mb-3">
                  <li class="list-inline-item mr-3 ml-0">February 5, 2025</li>
                  <li class="list-inline-item mr-3 ml-0">By Admin</li>
              </ul>
              <a href="blog-single.html">
                  <h4 class="card-title">Maritime Careers: The Key to a Global Future</h4>
              </a>
              <p class="card-text">Learn about the exciting opportunities in the shipping industry and how our courses can help you succeed.</p>
              <a href="blog-single.html" class="btn btn-primary btn-sm">Read More</a>
          </div>
      </div>
  </article>

  <!-- blog post 3 -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
      <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
          <img class="card-img-top rounded-0" src="assets/images/blog/post-3.jpg" alt="Post thumb">
          <div class="card-body">
              <ul class="list-inline mb-3">
                  <li class="list-inline-item mr-3 ml-0">March 2, 2025</li>
                  <li class="list-inline-item mr-3 ml-0">By Admin</li>
              </ul>
              <a href="blog-single.html">
                  <h4 class="card-title">Top Skills You Need for a Successful Airport Job</h4>
              </a>
              <p class="card-text">Find out which skills are in demand for careers in the aviation sector and how to develop them.</p>
              <a href="blog-single.html" class="btn btn-primary btn-sm">Read More</a>
          </div>
      </div>
  </article>
</div>
