<!-- footer -->
<footer>
    <!-- newsletter -->
    <div class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
            <h3 class="text-white">Subscribe Now</h3>
            <form action="#">
              <div class="input-wrapper">
                <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
                <button type="submit" value="send" class="btn btn-primary">Join</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- footer content -->
    <div class="footer bg-footer section border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
            <!-- logo -->
            <a class="logo-footer" href="index.html">
              <img class="img-fluid mb-4" src="assets/images/logo.png" alt="logo" style="width: 200px; height: 68px; "> 
            </a>
           <ul class="list-unstyled" style="color: white;">
              <li class="mb-2">52/924, lInd Floor, Woodex Complex Building, Near Post Office Olavakkode, Palakkad - 678002</li>
              <li class="mb-2">+91 88 91 88 83 30</li>
              
              <li class="mb-2">amansacademykerala&#64;gmail.com</li>
            </ul>
          </div>
          <!-- company -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">COMPANY</h4>
            <ul class="list-unstyled text-center">
              <li class="mb-3">
                  
                <a class=" text-colornav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
              </li>
              <li class="mb-3">
                <a class="text-color nav-link" routerLink="/teacher" routerLinkActive="active">Our Teacher</a>
              </li>
              <li class="mb-3">
                <a class="text-color nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
              </li>
              <li class="mb-3">
                <a class="text-color nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
              </li>
            </ul>
          </div>
          
          <!-- Links -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">LINKS</h4>
            <ul class="list-unstyled text-center">
              <li class="mb-3">
                <a class="text-color nav-link" routerLink="/courses" routerLinkActive="active">Courses</a>
              </li>
              <li class="mb-3">
                <a class="text-color nav-link" routerLink="/events" routerLinkActive="active">Events</a>
              </li>
              <li class="mb-3">
                <a class="text-color nav-link" routerLink="/notice" routerLinkActive="active">Notice</a>
              </li>
              <li class="mb-3">
                <a class="text-color nav-link" routerLink="/scholarship" routerLinkActive="active">Scholarship</a>
              </li>
            </ul>
          </div>
          <!-- support -->
          <!-- <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">SUPPORT</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="https://themefisher.com/blog">Forums</a></li>
              <li class="mb-3"><a class="text-color" href="https://docs.themefisher.com/">Documentation</a></li>
              <li class="mb-3"><a class="text-color" href="#!">Language</a></li>
              <li class="mb-3"><a class="text-color" href="#!">Release Status</a></li>
            </ul>
          </div> -->
          <!-- support -->
          <!-- <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">RECOMMEND</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="https://themefisher.com/">WordPress</a></li>
              <li class="mb-3"><a class="text-color" href="https://themefisher.com/">LearnPress</a></li>
              <li class="mb-3"><a class="text-color" href="https://themefisher.com/">WooCommerce</a></li>
              <li class="mb-3"><a class="text-color" href="https://themefisher.com/">bbPress</a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
    
  </footer>
  <!-- /footer -->