<app-header></app-header>
<router-outlet></router-outlet>
<app-navigation></app-navigation>
<app-slider></app-slider>
<app-banner-feature></app-banner-feature>
<app-about></app-about>


<!-- courses -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">Our Course</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <!-- <div>
            <a href="courses.html" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">see all</a>
          </div> -->
        </div>
      </div>
    </div>
    <app-course></app-course>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="courses.html" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">sell all</a>
      </div>
    </div>
  </div>
</section>
<!-- /courses -->

<!-- <app-cta></app-cta> -->

<!-- <app-success-story></app-success-story> -->

<!-- events -->
<section class="section bg-gray hidden-section">
  <div class="container" >
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">Upcoming Events</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="events.html" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">see all</a>
          </div>
        </div>
      </div>
    </div>
    <app-events></app-events>

    
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="course.html" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">sell all</a>
      </div>
    </div>
  </div>
</section>
<!-- /events -->

<app-teachers></app-teachers>

<!-- blog -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- <h2 class="section-title">Latest News</h2> -->
      </div>
    </div>
    <app-blogs></app-blogs>
  </div>
</section>
<!-- /blog -->

<app-block-footer></app-block-footer>


