<section class="hero-section overlay bg-cover" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
  <div class="container">
    <ngx-slick-carousel
      class="hero-slider"
      #slickModal="slick-carousel"
      [config]="sliderConfig">
      <!-- Slide 1 -->
      <div ngxSlickItem class="slide">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-in="fadeInLeft" data-delay-in=".1">Our Mission</h1>
            <p class="text-muted mb-4" data-animation-in="fadeInLeft" data-delay-in=".4">
              AMAN’S will offer high quality, cost-effective and relevant courses to meet the needs of our clients.
            </p>
            <a routerLink="/contact" class="btn btn-primary" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
      <!-- Slide 2 -->
      <div ngxSlickItem class="slide">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-in="fadeInDown" data-delay-in=".1">Our Values - Elite Pursuit Of Excellence</h1>
            <p class="text-muted mb-4" data-animation-in="fadeInDown" data-delay-in=".4">
              To be the best in all we do, continually striving for the highest professional standards achievable.
            </p>
            <a routerLink="/contact" class="btn btn-primary" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
      <!-- Slide 3 -->
      <div ngxSlickItem class="slide">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-in="fadeInUp" data-delay-in=".1">Our Vision</h1>
            <p class="text-muted mb-4" data-animation-in="fadeInUp" data-delay-in=".4">
              To be the preferred Private Education Institution (PEI) of choice.
            </p>
            <a routerLink="/contact" class="btn btn-primary" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</section>